#all-tweets-container{
  border: 5px solid #545149;
  
}
#all-tweets-container:hover{
  text-shadow: 1px 1px #545149;
}
#all-tweets-container .tweets-header, .tweets-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.tweets-article{
  display: flex;
  flex-direction: column;
}
/*
.tweets-article:hover{
  box-shadow: 4px 4px #545149;
}
*/
.fa{
  font-size:24px;
  color: #4056A1;
}
.location{
  font-weight: 500;
  color: lightgray;
}
.tweet-content{
 
  width: 90%;
  margin: 20px;
  display: flex;
  align-items: center;
 
}
.tweets-footer {
  border-top: 6px solid #545149;
}